@import url("https://fonts.cdnfonts.com/css/playfair-display");
@import url("https://fonts.cdnfonts.com/css/inter");
@import url("https://fonts.cdnfonts.com/css/mulish");

a:active,
a:hover,
a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.relative {
  position: relative;
}

.absolute__one {
  position: absolute;
  left: -109px;
  top: 327px;
}

.absolute__two {
  position: absolute;
  right: 56px;
  bottom: -57px;
}

.absolute__three {
  position: absolute;
  right: 172px;
  bottom: 60px;
}

.absolute__four {
  position: absolute;
  right: 93px;
  bottom: 54px;
}

/*header*/
.header {
  width: 1251px;
  height: 60px;
  background-color: aquamarine;
  padding-left: 163px;
  display: flex;
  align-items: center;
  margin-bottom: 71px;
}

.header__logo {
  margin-right: 515px;
  width: 41px;
  height: 41px;
  cursor: pointer;
}

.navigation {
  width: 663px;
  height: 60px;
  display: flex;
  align-items: center;
}

.navigation__list {
  width: 347px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 34px;
}

.nav_text-bold {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #202336;
}

.nav_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #b8becd;
}

.navigation__button-first {
  width: 132px;
  height: 44px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #fb8f1d;
  background: #ffffff;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  margin-right: 18px;
  cursor: pointer;
}

.navigation__button-last {
  width: 132px;
  height: 44px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  color: #ffffff;
  background: #fb8f1d;
  border-radius: 8px;
  border: none;
}

/*main*/

.main {
  width: 1382px;
  height: 2985px;
  margin-bottom: 50px;
}

.head__text {
  width: 356px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: #202336;
  margin-bottom: 74px;
  mix-blend-mode: normal;
}

.travel {
  width: 1306px;
  height: 654px;
  padding: 1px 0 0 161px;
  display: flex;
  margin-bottom: 277px;
}

.travel__section {
  width: 622px;
  height: 545px;
  padding-top: 34px;
}

.travel__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #202336;
  padding-left: 2px;
  margin-bottom: 20px;
}

.travel__separator {
  width: 32px;
  height: 2px;
  background: #202336;
  border-radius: 4px;
  margin: 0 0 48px 2px;
}

/*form Explore and Travel*/

.seeker__form {
  width: 468px;
  height: 139px;
  padding-left: 2px;
  margin-bottom: 51px;
}

.seeker__form-list {
  width: 470px;
  height: 139px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.select__list {
  box-sizing: border-box;
  width: 220px;
  height: 52px;
  border: 0.8px solid #afb0b9;
  border-radius: 6px;
  cursor: pointer;
}

.option__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #4a4c53;
  mix-blend-mode: normal;
}

.seeker__button {
  width: 180px;
  height: 52px;
  background: #fb8f1d;
  border-radius: 8px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 60px;
  color: #ffffff;
  mix-blend-mode: normal;
  border: none;
  cursor: pointer;
  margin-left: 1px;
}

/*A new way to explore the world */

.exploration {
  width: 1242px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 4px;
  margin-bottom: 255px;
}

.exploration__img {
  width: 742px;
  height: 534px;
}

.exploration__world {
  width: 440px;
  height: 333px;
  padding-bottom: 7px;
}

.lonely__head {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 20px;
}

.lonely__text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7d7987;
  margin-bottom: 39px;
}

.lonely__button {
  width: 164px;
  height: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  color: #ffffff;
  background: #fb8f1d;
  border-radius: 8px;
  margin-bottom: 1px;
  border: none;
  cursor: pointer;
}

/*Featured destinations*/

.route {
  width: 1120px;
  height: 502px;
  padding: 30px 0 0 212px;
  margin-bottom: 173px;
}

.route__head {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
}

.route__block-first {
  width: 1121px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}

.route__list {
  width: 1121px;
  height: 332px;
  display: flex;
  justify-content: space-between;
}

.landscape__back-one {
  width: 261px;
  height: 332px;
  background-image: url("./img/raja.svg");
  border-radius: 8px;
  display: flex;
  align-items: end;
}

.landscape__back-two {
  width: 261px;
  height: 332px;
  background-image: url("./img/fanjingshan.svg");
  border-radius: 8px;
  display: flex;
  align-items: end;
}

.landscape__back-free {
  width: 261px;
  height: 332px;
  background-image: url("./img/vevey.svg");
  border-radius: 8px;
  display: flex;
  align-items: end;
}

.landscape__back-four {
  width: 261px;
  height: 332px;
  background-image: url("./img/skadar.svg");
  border-radius: 8px;
  display: flex;
  align-items: end;
}

.figcaption__block {
  width: 120px;
  height: 56px;
  background: #ffffff;
  border-radius: 0 6px 0 0;
  display: flex;
  align-items: end;
}

.definition__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #042521;
  mix-blend-mode: normal;
}

/*Guides by Thousand
Sunny*/

.guides {
  width: 1381px;
  height: 542px;
  display: flex;
}

.guides__section {
  width: 450px;
  height: 303px;
  margin: 152px 80px 0 212px;
}

.guides__head {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 20px;
}

.guides__text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7d7987;
  margin-bottom: 39px;
}

.guides__button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  color: #ffffff;
  background: #fb8f1d;
  border-radius: 8px;
  width: 164px;
  height: 48px;
  border: none;
  cursor: pointer;
}

/*footer*/

.footer {
  width: 1280px;
  height: 412px;
  padding-left: 227px;
}

.footer__inform {
  width: 1280px;
  height: 319px;
  display: flex;
}

.cellar__plan {
  width: 349px;
  height: 237px;
  margin-right: 149px;
}

.plan__logo {
  width: 44px;
  height: 44px;
  margin-bottom: 24px;
}

.plan__text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #848484;
  margin-bottom: 55px;
}

.plan__rights {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  color: #848484;
}

.cellar__address {
  width: 760px;
  height: 237px;
  display: flex;
}

.address__destinations {
  align-content: space-between;
}

.address__margin-first {
  margin-right: 160px;
}

.address__margin-last {
  margin-right: 132px;
}

.destinations__text-bold {
  margin-top: -8px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 60px;
  color: #000000;
  height: 60px;
}

.destinations__text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #848484;
}

.footer__separator {
  width: 1211px;
  height: 0.6px;
  background: #c4c4c4;
  padding-left: 10px;
  margin-bottom: 32px;
}

.social {
  width: 248px;
  height: 23px;
  display: flex;
  justify-content: space-between;
  padding-right: 123px;
}
